body {
    display:grid;
    background-color: #f3f3f3;
    font-family: 'DM Sans', sans-serif;
    place-content: center;
    font-size:18px;

}

.bento_a{
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_b{
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;

}

.bento_c{
    font-size: 4.5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_d{
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.bento_e{
    font-size: 2.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_f{
    font-size: 2.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_g{
    font-size:2.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_h{
    font-size: 1.75rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 400;
}

.bento_i{
    font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_j{
    font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_k{
     font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.sn3{
     font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.sn2{
     font-size: 1.75rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 400;
}

.sn1{
     font-size: 4.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}


.bento_grid{
    display:grid;
    max-width:1400px;
    margin: 1.5rem;
    grid-auto-rows: 85px;
    grid-auto-columns: 450px;
    gap: 2.5rem;
    grid-template-areas: 
    'box1 box2 box2 box3 '
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box5 box6 box3'
    'box1 box5 box6 box3'
    'box4 box5 box6 box3'
    'box4 box5 box6 box3'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8';

}




.bento_grid .grid_g{
    background-color: hsl(31, 66%, 93%);
}

.bento_grid .grid_a{
    background-color:  hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%) ;
}

.bento_grid .grid_e{
    background-color: hsl(256, 67%, 59%);
    color:  hsl(0, 0%, 100%);
}

.bento_grid .grid_d{
    background-color:  hsl(254, 88%, 90%);
}

.bento_grid .grid_h{
    background-color: hsl(39, 100%, 71%);
}

.bento_grid .grid_c{
    background-color:  hsl(39, 100%, 71%);
}

.bento_grid .grid_b{
    background-color: hsl(0, 0%, 100%);
}

.bento_grid .grid_f{
    background-color: hsl(0, 0%, 100%);
}


.bento_grid .grid_g{
    grid-area: box1;
    text-align:left;
    padding:40px;
    border-radius: 20px;
}

.bento_grid .grid_g .sn3{
    color: hsl(256, 67%, 59%);

}

.bento_grid .grid_a{
    grid-area: box2;
    margin:0;
    padding:0;    
    text-align:center;    
    line-height: 0px;
    border-radius: 20px;
}

.bento_grid .grid_a .bento_b{
    color:hsl(39, 100%, 71%) ;
}

.bento_grid .grid_d{
    grid-area:box3;
    text-align: left;
    padding: 1rem;
    border-radius: 20px;
    overflow:hidden;
}

.bento_grid .grid_h{
    grid-area: box4;
    border-radius: 20px;
    padding:0 1rem;
    
}


.bento_grid .grid_b{
    grid-area:box5;
    border-radius: 20px;
    padding:1rem;
    overflow:hidden;
    

}

.bento_grid .grid_c{
    grid-area:box6;
    border-radius: 20px;
    padding: 1rem;
    overflow:hidden;
    
}

.bento_grid .grid_f{
    grid-area:box7;
    border-radius: 20px;
    padding:2rem;
    
}
.bento_grid .grid_f img{
    margin-top:4rem;
}

.bento_grid .grid_e{
    grid-area:box8;
    border-radius:20px;
    padding: 2rem;
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
}

@media (max-width:750px){
    .bento_grid{
        display:grid;
        grid-auto-rows: 450px;
        grid-column: 300px;
        text-align:center;
        gap:2rem;
        margin-left:5rem;
        margin-bottom:20rem;
        padding:1rem;
        grid-template-areas:
        'box2'
        'box5'
        'box6'
        'box3'
        'box8'
        'box7'
        'box1'
        'box4';


    }
    .bento_grid .grid_a,
    .bento_grid .grid_b,
    .bento_grid .grid_c,
    .bento_grid .grid_d,
    .bento_grid .grid_e,
    .bento_grid .grid_f,
    .bento_grid .grid_g,
    .bento_grid .grid_h{
        overflow:hidden;


    }
    .bento_grid .grid_e{
        display:grid;
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr;
        text-align:center;
        align-items:center;


    }

    .bento_grid .grid_g{
        padding:0;

    }

    .bento_grid .grid_g img{
       height:300px;
       width:400px; 
    }

    .bento_grid .grid_h img{
        height:250px;
        width:400px;
    }

    .bento_grid .grid_d img{
        height:250px;
        width:400px;
    }

    .bento_grid .grid_e img{
        align-items: center;
        height:200px;
        width:350px;
    
    }

    
}






