body{
    background-color: #f3f3f3;
    font-size:18px;
    

}

.bento_grid{
    display:flex;
    flex-direction:column;
    gap:20px;


}
.bento_a{
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_b{
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;

}

.bento_c{
    font-size: 4.5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_d{
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.bento_e{
    font-size: 2.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_f{
    font-size: 2.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_g{
    font-size:2.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_h{
    font-size: 1.75rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 400;
}

.bento_i{
    font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_j{
    font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_k{
     font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.sn3{
     font-size: 3rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.sn2{
     font-size: 1.75rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 400;
}

.sn1{
     font-size: 4.5rem;
    font-family:'DM Sans', sans-serif;
    font-weight: 500;
}

.bento_grid .grid_g{
    height:500px;
    width:250px;
    background-color:hsl(31, 66%, 93%);
    border-radius: 20px;
    padding:40px;    
    margin-left: 100px;
    overflow:hidden;


}

.bento_grid .grid_g .sn3{
    color: hsl(256, 67%, 59%);
}

.bento_grid .grid_g img{
    width: 275px;  
    
   
}

.bento_grid .grid_h{
    height:500px;
    width:250px;
    background-color: hsl(39, 100%, 71%);
    border-radius: 20px;
    overflow:hidden;
    padding:40px;
    margin-left:100px;
}

.bento_grid .grid_h img{
    height: 200px;
    width: 200px;
}
.bento_grid .grid_a{
    width:500px;
    height:400px;
    background-color: hsl(256, 67%, 59%);
    border-radius: 20px;
    overflow:hidden;
    color:hsl(0, 0%, 100%);

}